<div class="main-container">
  <div class="main">
    <div class="title">
      <h3>Certificates</h3>
    </div>
    <div class="button-container w-70">
      <div class="left-buttons">
        <button
          pButton
          type="button"
          label="Expand all"
          (click)="expandAll()"
          class="custom-button"
        ></button>
        <button
          pButton
          type="button"
          label="Collapse all"
          (click)="collapseAll()"
          class="custom-button"
        ></button>
      </div>
      <div class="right-buttons">
        <button
          pButton
          type="button"
          label="Add"
          class="custom-button add-button"
          (click)="add()"
          [disabled]="selectedFile?.certificateType === CertificateType.END_ENTITY"
          [ngClass]="{ 'disabled': selectedFile?.certificateType === CertificateType.END_ENTITY }"
        ></button>
        <button
          pButton
          type="button"
          label="Delete"
          class="custom-button delete-button"
          (click)="delete()"
        ></button>

      </div>
    </div>
    <div class="flex flex-row">
      <div class="left-panel w-70">
        <div class="mb-3"></div>
        <p-tree
          [value]="files"
          class="w-full md:w-30rem"
          selectionMode="single"
          [(selection)]="selectedFile">
          <ng-template let-node pTemplate="default">
            {{ node.commonName }}
          </ng-template>
        </p-tree>
      </div>
      <div class="details w-30" *ngIf="selectedFile">
        <div class="details-content">
          <div class="details-title">Details about certificate:</div>
          <div class="field"><strong>Common name:</strong> {{ selectedFile?.commonName }}</div>
          <div class="field"><strong>Organization:</strong> {{ selectedFile?.organization }}</div>
          <div class="field"><strong>Email:</strong> {{ selectedFile?.email }}</div>
          <div class="field"><strong>Country:</strong> {{ selectedFile?.country }}</div>
          <div class="field"><strong>Certificate type:</strong> {{ selectedFile?.certificateType }}</div>
          <div class="field"><strong>Start date: </strong> {{ selectedFile?.startDate }}</div>
          <div class="field"><strong>End data: </strong> {{ selectedFile?.endDate }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
