.main {
  background-color: #F6F8FA;
  padding: 70px 150px 150px;
  max-width: 1600px;
  margin: auto;
}
.main-container{
  background-color: #F6F8FA;
}

.title {
  margin-bottom: 50px;
}

button {
  margin-right: 10px;
  border-radius: 5px;
  background-color: #235471;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1a3e56;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.left-panel {
  padding-right: 1rem; /* Optional: add some spacing between panels */
}

.details {
  width: 30%;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 15px;
  max-height: 350px
}


.details-content {
  padding: 0.5rem;
}

.details-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.details-description {
  margin-top: 0.5rem;
}
.main {
  position: relative;
}

.left-buttons {
  position: absolute;
  left: 0;
  top: 0;
}

.right-buttons {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 50px;
}

.w-70 {
  width: 70%;
}
.custom-button {
  width: 110px;
  height: 40px;
}
.bold-text {
  font-weight: bold;
}
.field {
  margin-bottom: 7px;
}
.details-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
